<div class="defaulttemplate" style="max-width: 800px"><table class="table table-striped">
<tbody><tr class="">
<td class="template-field cell c0" style="">Foto: </td>
<td class="template-token cell c1 lastcol" style="">[[Foto]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Titelzeile: </td>
<td class="template-token cell c1 lastcol" style="">[[Titelzeile]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Ort: </td>
<td class="template-token cell c1 lastcol" style="">[[Ort]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Datum: </td>
<td class="template-token cell c1 lastcol" style="">[[Datum]]</td>
</tr>
<tr class="lastrow">
<td class="template-field cell c0" style="">Text: </td>
<td class="template-token cell c1 lastcol" style="">[[Text]]</td>
</tr>
</tbody>
</table>
</div>