<div class="defaulttemplate"><div class="table-responsive"><table class="mod-data-default-template ##approvalstatusclass##">
<tbody><tr class="">
<td class="template-field cell c0" style="">Foto: </td>
<td class="template-token cell c1 lastcol" style="">[[Foto]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Titelzeile: </td>
<td class="template-token cell c1 lastcol" style="">[[Titelzeile]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Ort: </td>
<td class="template-token cell c1 lastcol" style="">[[Ort]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Datum: </td>
<td class="template-token cell c1 lastcol" style="">[[Datum]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Text: </td>
<td class="template-token cell c1 lastcol" style="">[[Text]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Tags:</td>
<td class="template-token cell c1 lastcol" style="">##tags##</td>
</tr>
<tr class="searchcontrols">
<td class="template-field cell c0" style="">Vorname (Autor/in): </td>
<td class="template-token cell c1 lastcol" style="">##firstname##</td>
</tr>
<tr class="searchcontrols lastrow">
<td class="template-field cell c0" style="">Nachname (Autor/in): </td>
<td class="template-token cell c1 lastcol" style="">##lastname##</td>
</tr>
</tbody>
</table>
</div></div>